#headd{
    text-align: center;
    color: #ED7C4D;
    font-size:40px;
}
.games{

    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#styling{
    display: flex;
    justify-content: center;

}
#style{  
        font-size:25px;

}
#styles{
    font-size: 20px;
}
#division{
    font-size: 15px;
}